<nav class="navbar navbar-expand-lg bg-body-tertiary nav-color">
  <div class="container-fluid">
    <img src="../../../assets/Logo.png" alt="Logo">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Avisos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Entidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Candidaturas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Operações</a>
        </li>
      </ul>
      <div class="d-flex" >
       <p> <i class="bi bi-search"></i></p>
       <i class="bi bi-inbox-fill"></i>
       <i class="bi bi-gear-wide"></i>  
      </div>
    </div>
  </div>
</nav>

<div class="header">
  <div class="warnings">
    <span>Avisos</span>
    <div>
      <p>Novo Aviso</p>
      <p>EM PRENCHIMENTO</p>
    </div>
  </div>
  <div class="changes">
    <button type="button" class="btn btn-primary btn-lg">GUARDAR ALTERAÇÕES</button>  
    <button type="button" class="btn btn-primary btn-lg">Validar</button>  
    <button type="button" class="btn btn-outline-secondary" disabled>PUBLICAR</button>
  </div>
</div>
